Repository joecox/py-ts-exploration: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock, ruff-lint, ruff-format, ts-typecheck, ts-lint, ts-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-case-conflict

- repo: local
  hooks:
  - id: uv-lock
    name: uv-lock
    description: "Ensure uv.lock is up-to-date"
    language: system
    entry: uv lock
    files: ^(uv\.lock|pyproject\.toml)$
    pass_filenames: false
  - id: ruff-lint
    name: ruff-lint
    description: "Run the Ruff linter"
    language: system
    entry: uv run ruff check --fix
    types: [python]
    pass_filenames: false
  - id: ruff-format
    name: ruff-format
    description: "Run the Ruff formatter"
    language: system
    entry: uv run ruff format
    types: [python]
    pass_filenames: false
  - id: ts-typecheck
    name: ts-typecheck
    description: "Typecheck Typescript across the entire project"
    language: system
    entry: pnpm typecheck
    types_or: [javascript, jsx, ts, tsx]
    pass_filenames: false
  - id: ts-lint
    name: ts-lint
    description: "Run the oxlint TS/JS linter"
    language: system
    entry: pnpm oxlint --fix
    types_or: [javascript, jsx, ts, tsx]
    pass_filenames: false
  - id: ts-format
    name: ts-format
    description: "Run the Biome formatter"
    language: system
    entry: pnpm biome check --fix
    types_or: [javascript, jsx, ts, tsx, json, css]
    pass_filenames: false

Update backend structure
  .gitignore
  .vscode/settings.json
  backend/lib/__init__.py
  backend/lib/other.py
  backend/main.py
  pyproject.toml
Due: uv-lock, ruff-lint, ruff-format, ts-format

setup (#2)
  .editorconfig
  .gitignore
  .oxlintrc.json
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  backend/lib/__init__.py
  backend/lib/other.py
  backend/main.py
  biome.jsonc
  frontend/index.html
  frontend/main.tsx
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  pyproject.toml
  readme.md
  tsconfig.browser.json
  tsconfig.json
  tsconfig.node.json
  tsconfig.shared.json
  uv.lock
  vite.config.ts
Due: uv-lock, ruff-lint, ruff-format, ts-typecheck, ts-lint, ts-format

update readme
  readme.md
Due: none

update readme (#4)
  readme.md
Due: none

Add github actions
  .github/actions/python-deps/action.yml
  .github/actions/ts-deps/action.yml
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  pyproject.toml
  readme.md
  uv.lock
Due: uv-lock

Update zizmor precommit
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

jq -r
  .github/actions/ts-deps/action.yml
Due: none

Rename ci.yml
  .github/workflows/ci.yml
Due: none

Add github actions (#3)
  .github/actions/python-deps/action.yml
  .github/actions/ts-deps/action.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
  readme.md
  uv.lock
Due: uv-lock

Add python testing
  .github/workflows/ci.yml
  .gitignore
  backend/lib/test_other.py
  pyproject.toml
  uv.lock
Due: uv-lock, ruff-lint, ruff-format

Add pydantic-settings
  .env.local
  .env.test
  backend/lib/settings/__init__.py
  backend/main.py
  pyproject.toml
  uv.lock
Due: uv-lock, ruff-lint, ruff-format

Add pydantic-settings (#6)
  .env.local
  .env.test
  backend/lib/settings/__init__.py
  backend/main.py
  pyproject.toml
  uv.lock
Due: uv-lock, ruff-lint, ruff-format

Use dprint
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  biome.jsonc
  dprint.jsonc
  frontend/index.html
  package.json
  pnpm-lock.yaml
  pyproject.toml
  readme.md
Due: uv-lock, ts-format

Update readme links
  readme.md
Due: none

Add dprint to recommended extensions
  .vscode/extensions.json
Due: ts-format

Use correct dprint argument
  .github/workflows/ci.yml
Due: none

Add yaml to pre-commit format step
  .pre-commit-config.yaml
Due: none

Use dprint (#7)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  biome.jsonc
  dprint.jsonc
  frontend/index.html
  package.json
  pnpm-lock.yaml
  pyproject.toml
  readme.md
Due: uv-lock, ts-format

vscode formatter settings
  .vscode/settings.json
  dprint.jsonc
Due: ts-format

vscode formatter settings (#8)
  .vscode/settings.json
  dprint.jsonc
  readme.md
Due: ts-format

add todo
  todo.md
Due: none

add todo (#9)
  todo.md
Due: none

Update pydantic settings usage
  backend/lib/other.py
  backend/lib/settings/__init__.py
  backend/main.py
  backend/server/__init__.py
  readme.md
Due: ruff-lint, ruff-format

Update pydantic settings usage (#10)
  backend/lib/other.py
  backend/lib/settings/__init__.py
  backend/main.py
  backend/server/__init__.py
  readme.md
Due: ruff-lint, ruff-format

fmt
  readme.md
Due: none

Add basic server test
  backend/lib/test_other.py
  backend/test_main.py
  pyproject.toml
  uv.lock
Due: uv-lock, ruff-lint, ruff-format

testing (#5)
  .github/workflows/ci.yml
  .gitignore
  backend/test_main.py
  pyproject.toml
  readme.md
  uv.lock
Due: uv-lock, ruff-lint, ruff-format

Add vitest
  frontend/components/button.test.tsx
  frontend/components/button.tsx
  package.json
  pnpm-lock.yaml
  tsconfig.browser.json
  vite.config.ts
Due: ts-typecheck, ts-lint, ts-format

Add vitest browser testing
  .gitignore
  frontend/components/button.test.tsx
  frontend/test-utils/setup.ts
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: ts-typecheck, ts-lint, ts-format

Add ts tests to ci
  .github/workflows/ci.yml
Due: none

ts testing (#11)
  .github/workflows/ci.yml
  .gitignore
  frontend/components/button.test.tsx
  frontend/components/button.tsx
  frontend/test-utils/setup.ts
  package.json
  pnpm-lock.yaml
  tsconfig.browser.json
  vite.config.ts
Due: ts-typecheck, ts-lint, ts-format

Update readme.md
  readme.md
Due: none

Update readme.md (#12)
  readme.md
Due: none
